@model IEnumerable<WebUI.Models.ManagerVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.ActionLink("Replenish Inventory", "ReplenishInventoryStore", new { id = item.Id }) |
                    @Html.ActionLink("Add Item", "CreateItem", new { id = item.Id }) |
                    @Html.ActionLink("Add Store", "Create", "Storefront")
                </td>
            </tr>
        }
        @Html.ActionLink("Back to Home Menu", "Index", "Home")
    </tbody>
</table>
    @Html.ActionLink("Back to Home Menu", "Index", "Home")
