@model IEnumerable<WebUI.Models.InventoryVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Inventory</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.inventoryid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inventoryQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.inventoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.storeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.inventoryid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inventoryQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inventoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.storeId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.inventoryid  }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
