@model IEnumerable<WebUI.Models.ProductVM>

@{
    ViewData["Title"] = "OrderStoreItem";
}

<h1>OrderStoreItem</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productcode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.productname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productcode)
                </td>
                <td>
                    @Html.ActionLink("Buy Item", "BuyItem", new { cust = ViewBag.Customer.ID, store = ViewBag.Storefront.storeID, prod = item.productcode, orde = ViewBag.Order.IDs})
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Place Order", "OrderPlaced", new { cust = ViewBag.Customer.ID, store = ViewBag.Storefront.storeID, orde = ViewBag.Order.IDs })
