@model IEnumerable<WebUI.Models.StorefrontVM>

@{
    ViewData["Title"] = "OrderItemStore";
}
<h1>@ViewBag.Customer.name</h1>
<h1>Select Store</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Select Store", "OrderStoreItem", new { cust = ViewBag.Customer.ID , store = item.ID }) |
                </td>
            </tr>
        }
    </tbody>
    @Html.ActionLink("Back to Customer Menu", "Index")
</table>
@Html.ActionLink("Back to Customer Menu", "Index")
